@charset "UTF-8";
/*商品详情页*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* 主题色 */
/* header start */
header {
  background: #eee;
}

header > .wrapper {
  height: 100%;
  position: relative;
}

header > .wrapper::after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

header > .wrapper > ul {
  float: left;
  position: absolute;
  top: 23%;
}

header > .wrapper > ul::after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

header > .wrapper > ul > li {
  cursor: pointer;
  float: left;
  font-size: 12px;
  font-weight: 900;
  margin-right: 12px;
}

header > .wrapper > ul > li:nth-of-type(2) {
  color: #25a54c;
}

header > .wrapper > ul > li:nth-of-type(2) > span {
  background: url(../img/header-img.png) no-repeat 34px 12px;
  padding: 6px 16px 6px 6px;
}

header > .wrapper > ul > li:nth-of-type(2) > span:hover {
  color: #fff;
  background: #25a54c;
}

header > .wrapper > ul > li:nth-of-type(3) {
  padding-left: 16px;
  background: url(../img/notice.png) no-repeat 0 2px;
  background-size: 14px;
}

header > .wrapper > ul > li:nth-of-type(3):hover {
  color: #25a54c;
}

header > .wrapper > div {
  float: right;
  font-size: 12px;
  font-weight: 900;
  height: 100%;
}

header > .wrapper > div > ul {
  float: left;
}

header > .wrapper > div > ul > li {
  padding: 6px 20px;
  cursor: pointer;
  float: left;
}

header > .wrapper > div > ul > li > i {
  width: 18px;
  height: 18px;
  display: inline-block;
}

header > .wrapper > div > ul:nth-of-type(1) > li {
  padding: 0px;
  margin: 0 8px;
  line-height: 28px;
}

header > .wrapper > div > ul:nth-of-type(1) > li > a {
  color: #000;
}

header > .wrapper > div > ul:nth-of-type(1) > li > a:hover {
  color: #25a54c;
}

header > .wrapper > div > ul:nth-of-type(2) {
  position: relative;
}

header > .wrapper > div > ul:nth-of-type(2) > li:hover {
  z-index: 99;
  padding: 6px 19px;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background: #fff;
}

header > .wrapper > div > ul:nth-of-type(2) > li:hover > i:nth-of-type(2) {
  background: url(../img/header-img.png) no-repeat -8px 12px;
}

header > .wrapper > div > ul:nth-of-type(2) > li > i {
  position: absolute;
  top: 0px;
}

header > .wrapper > div > ul:nth-of-type(2) > li .me {
  display: none;
  z-index: 1;
  width: 100%;
  line-height: 24px;
  padding-left: 12px;
  position: absolute;
  top: 28px;
  left: -1px;
  background: #fff;
  border: 1px solid #888;
  color: #636161;
  font-weight: 100;
}

header > .wrapper > div > ul:nth-of-type(2) > li .me > li:hover {
  font-weight: 900;
  color: #116d2c;
}

header > .wrapper > div > ul:nth-of-type(2) > li:hover {
  z-index: 999;
}

header > .wrapper > div > ul:nth-of-type(2) > li:hover .me {
  z-index: -999;
  display: inline-block;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(1) {
  position: relative;
  z-index: 99;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(1) > i:nth-of-type(1) {
  background: url(../img/header-img.png) no-repeat -40px top;
  position: absolute;
  top: 5px;
  left: 0;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(2) {
  position: relative;
  z-index: 999;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(2) > i:nth-of-type(1) {
  background: url(../img/header-img.png) no-repeat -62px top;
  position: absolute;
  top: 5px;
  left: 0;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(2) .me {
  width: 126px;
  padding: 12px;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(2) .me img {
  width: 126px;
}

header > .wrapper > div > ul:nth-of-type(3) > li {
  position: relative;
  margin-left: 6px;
  padding-right: 6px;
}

header > .wrapper > div > ul:nth-of-type(3) > li:nth-of-type(1) > i {
  background: url(../img/header-img.png) no-repeat -149px 2px;
  position: absolute;
  top: 5px;
  left: 0;
}

header > .wrapper > div > ul:nth-of-type(3) > li:nth-of-type(2) > i {
  background: url(../img/header-img.png) no-repeat -86px 2px;
  position: absolute;
  top: 5px;
  left: 0;
}

header > .wrapper > div > ul:nth-of-type(3) > li:nth-of-type(3) > i {
  background: url(../img/a.png) no-repeat top;
  position: absolute;
  top: 5px;
  left: 0;
}

header > .wrapper > div > ul:nth-of-type(3) > li:nth-of-type(4) > i {
  background: url(../img/b.png) no-repeat top;
  position: absolute;
  top: 5px;
  left: 0;
}

/* header search start */
.sea {
  background: #b8b6b6;
  padding: 12px 0;
}

.sea .wrapper {
  display: flex;
  justify-content: space-between;
}

.sea .sea-nav > div {
  position: relative;
}

.sea .sea-nav > div > input {
  width: 420px;
  height: 28px;
  padding: 0 12px;
  outline: none;
  border: 1px solid #116d2c;
  background: #b8b6b6;
}

.sea .sea-nav > div > span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-right: 24px;
  padding-left: 24px;
  background: #116d2c;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.sea .sea-nav > ul li {
  float: left;
  cursor: pointer;
  font-size: 12px;
  margin-right: 16px;
  line-height: 24px;
}

.sea .sea-nav > ul li:hover {
  color: #116d2c;
}

.sea .shopCar {
  cursor: pointer;
  height: 42px;
  line-height: 42px;
  padding: 0 46px;
  border: 1px solid #116d2c;
  background: #fff;
  color: #116d2c;
  font-weight: 900;
  display: flex;
  font-size: 18px;
  position: relative;
}

.sea .shopCar > span:first-of-type {
  align-self: center;
  display: block;
  height: 100%;
  width: 32px;
  font-size: 12px;
  text-align: center;
  background: url(../img/header-img.png) no-repeat -110px 16px;
}

.sea .shopCar .shop-list {
  width: 380px;
  height: 180px;
  border: 1px solid #116d2c;
  background: #fff;
  position: absolute;
  bottom: -182px;
  right: -1px;
  text-align: center;
  line-height: 180px;
  font-size: 14px;
  display: none;
}

.sea .shopCar:hover .shop-list {
  display: inline-block;
  z-index: 99;
}

/* nav start */
nav {
  background: #eee;
}

nav .wrapper {
  border-bottom: 1px solid #116d2c;
  position: relative;
  display: flex;
}

nav .wrapper > div > span {
  background: #116d2c;
  color: #fff;
  font-weight: 900;
  padding: 0 24px;
  width: 120px;
  height: 42px;
  display: inline-block;
  text-align: center;
  line-height: 42px;
}

nav .wrapper > div:hover ul {
  display: inline-block;
}

nav .wrapper > div > ul {
  opacity: .8;
  display: none;
  position: absolute;
  top: 43px;
  left: 0px;
}

nav .wrapper > div > ul > li {
  width: 120px;
  height: 2.6rem;
  padding: 0 24px;
  line-height: 2.6rem;
  text-align: center;
  font-size: 14px;
  background: #fff;
  display: flex;
}

nav .wrapper > div > ul > li:hover {
  color: #116d2c;
  height: 39.6px;
  line-height: 39.6px;
  padding-left: 32px;
  padding-right: 16px;
  background: #fff;
  border: 1px solid #888;
  border-right: none;
}

nav .wrapper > div > ul > li:hover i {
  display: inline-block;
}

nav .wrapper > div > ul > li:hover .shop-title {
  display: inline-block;
}

nav .wrapper > div > ul i {
  display: none;
  margin-left: 12px;
}

nav .wrapper > div > ul span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background: url(../img/nav-icon.png) no-repeat 0px 0px;
  align-self: center;
}

nav .wrapper > div > ul li:nth-of-type(2) span {
  background-position: -24px 0px;
}

nav .wrapper > div > ul li:nth-of-type(3) span {
  background-position: -48px 0px;
}

nav .wrapper > div > ul li:nth-of-type(4) span {
  background-position: -72px 0px;
}

nav .wrapper > div > ul li:nth-of-type(5) span {
  background-position: -96px 0px;
}

nav .wrapper > div > ul li:nth-of-type(6) span {
  background-position: -120px 0px;
}

nav .wrapper > div > ul li:nth-of-type(7) span {
  background-position: -144px 0px;
}

nav .wrapper > div > ul li:nth-of-type(8) span {
  background-position: -168px 0px;
}

nav .wrapper > div > ul li:nth-of-type(9) span {
  background-position: -192px 0px;
}

nav .wrapper > div > ul li:nth-of-type(10) span {
  background-position: -216px 0px;
}

nav .wrapper > div > ul li:nth-of-type(11) span {
  background-position: -240px 0px;
}

nav .wrapper .shop-title {
  height: 498px;
  width: 240px;
  background: #fff;
  border: 1px solid #888;
  position: absolute;
  top: -43px;
  left: 168px;
  z-index: -99;
  color: #000;
  display: none;
}

nav .wrapper .shop-title > h2 {
  cursor: pointer;
  color: #116d2c;
}

nav .wrapper .shop-title > ul {
  display: flex;
  flex-direction: column;
}

nav .wrapper .shop-title li {
  margin: 0 12px;
}

nav .wrapper .shop-title li:hover {
  cursor: pointer;
  color: #116d2c;
}

nav .wrapper .shop-title > img {
  position: absolute;
  bottom: 0;
  right: -62px;
}

nav .wrapper > ul {
  display: flex;
}

nav .wrapper > ul li {
  padding: 10px 24px;
}

nav .wrapper > ul li:hover {
  color: #116d2c;
}

/* nav-sl start*/
.nav-sl {
  background: #eee;
  padding: 8px 0;
}

.nav-sl a {
  color: #000;
  font-size: 14px;
}

.nav-sl a:hover {
  color: #116d2c;
}

/* main start*/
main {
  padding-bottom: 32px;
  background: #eee;
}

main .wrapper {
  display: flex;
  justify-content: space-between;
}

main .pic-preview .pic-thumb > li {
  float: left;
  margin: 8px;
}

main .pic-preview .pic-thumb > li:first-of-type {
  margin-left: 0;
}

main .pic-preview .pic-thumb > li > img {
  vertical-align: top;
}

main .product-info .summary-name h2 {
  font-size: 32px;
  font-weight: 100;
}

main .product-info .summary-name p {
  line-height: 24px;
  color: #888;
}

main .product-info .summary-price {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 16px 12px;
}

main .product-info .summary-price .pro-m1 .tt {
  font-size: 12px;
  color: #888;
}

main .product-info .summary-price .pro-m1 em {
  color: #f00;
  padding-right: 6px;
}

main .product-info .summary-price .pro-m1 strong {
  color: red;
  font-size: 18px;
}

main .product-info .summary-price .pro-m2 {
  width: 460px;
  font-size: 12px;
  color: #888;
  line-height: 32px;
  margin-top: 10px;
  border-top: 1px solid #888;
}

main .product-info .summary-price .pro-tel {
  position: relative;
}

main .product-info .summary-price .pro-tel p {
  font-size: 12px;
  color: #888;
  position: absolute;
  left: -146px;
  bottom: 16px;
}

main .product-info .summary-price .pro-tel p strong {
  padding: 0 8px;
  color: #116d2c;
}

main .product-info .summary-price .pro-tel p i {
  border: 8px solid #fff;
  border-right-color: #4bd0d4;
  position: absolute;
  top: 0px;
  left: 130px;
}

main .product-info .summary-price .pro-tel .code img {
  border-radius: 5px;
  border: 4px solid #4bd0d4;
  width: 60px;
  height: 60px;
}

main .product-info .summary-price .pro-review {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #888;
  font-weight: 100;
  padding-left: 46px;
}

main .product-info .summary-price .pro-review b {
  color: #f00;
}

main .product-info .summary-other {
  display: flex;
  justify-content: space-between;
}

main .product-info .summary-other .left {
  padding: 42px 0;
}

main .product-info .summary-other .left .pro-service {
  font-size: 12px;
  color: #888;
  margin-bottom: 32px;
}

main .product-info .summary-other .left .pro-service img {
  padding-right: 12px;
}

main .product-info .summary-other .left .pro-amount {
  display: flex;
}

main .product-info .summary-other .left .pro-amount .dt {
  font-size: 12px;
  line-height: 34px;
}

main .product-info .summary-other .left .pro-amount .dd .spinner {
  margin: 0;
  float: left;
  width: 56px;
  height: 32px;
  outline: none;
  border: none;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  background: #fff;
  text-align: center;
  line-height: 32px;
}

main .product-info .summary-other .left .pro-amount .dd span {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #888;
  background: #fff;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}

main .product-info .summary-other .left .pro-amount .dd .addcart {
  border-radius: 6px;
  width: 160px;
  height: 34px;
  background: #116d2c;
  text-align: center;
  line-height: 34px;
  margin-left: 200px;
  cursor: pointer;
}

main .product-info .summary-other .left .pro-amount .dd .addcart a {
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}

.right {
  border-left: 1px solid #888;
  margin-top: 32px;
  padding-left: 32px;
  color: #888;
  font-size: 12px;
  font-weight: 100;
  line-height: 24px;
  text-align: left;
}

/* footer start*/
.footer-header {
  background: #bdbbbb;
  padding: 18px 0;
}

.footer-header .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-header .footer-list {
  display: flex;
}

.footer-header .footer-list > div:first-of-type {
  float: left;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  background: url(../img/footer_service_icon.png) no-repeat 0 0;
}

.footer-header .footer-list > div:nth-of-type(2) {
  padding-left: 12px;
  border-left: 1px solid #888;
}

.footer-header .footer-list > div:nth-of-type(2) > h3 {
  color: #116d2c;
}

.footer-header .footer-list > div:nth-of-type(2) > p {
  font-size: 12px;
}

.footer-header .footer-list:nth-of-type(2) > div:first-of-type {
  background: url(../img/footer_service_icon.png) no-repeat 0 -42px;
}

.footer-header .footer-list:nth-of-type(3) > div:first-of-type {
  background: url(../img/footer_service_icon.png) no-repeat 0 -84px;
}

.footer-header .footer-list:nth-of-type(4) > div:first-of-type {
  background: url(../img/footer_service_icon.png) no-repeat 0 -126px;
}

.footer-nav {
  background: #eeecec;
  padding: 58px 0;
}

.footer-nav .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-nav .footer-nav-list {
  position: relative;
}

.footer-nav .footer-nav-list > span {
  padding-left: 36px;
  background: url(../img/footer_icon.png) no-repeat 0 0;
}

.footer-nav .footer-nav-list ul {
  font-size: 12px;
  margin-top: 12px;
  padding-left: 28px;
  border-left: 1px dotted #888;
}

.footer-nav .footer-nav-list ul li {
  line-height: 24px;
  cursor: pointer;
}

.footer-nav .footer-nav-list ul li:hover {
  color: #116d2c;
  text-decoration: underline;
}

.footer-nav .footer-nav-list:nth-of-type(2) > span {
  background-position-y: -24px;
}

.footer-nav .footer-nav-list:nth-of-type(3) > span {
  background-position-y: -48px;
}

.footer-nav .footer-nav-list:nth-of-type(4) > span {
  background-position-y: -70px;
}

.footer-nav .footer-nav-list:nth-of-type(5) > span {
  background-position-y: -96px;
}

.footer-nav .footer-out {
  text-align: center;
}

.footer-nav .footer-out p {
  color: #999;
  font-size: 12px;
  line-height: 32px;
}

.footer-nav .footer-out p:nth-of-type(1) {
  color: #116d2c;
  padding: 42px 0;
  font-size: 16px;
}

.footer-nav .footer-out p > span:hover {
  cursor: pointer;
  color: #116d2c;
}

.footer-nav .footer-out p > img {
  margin-right: 12px;
  cursor: pointer;
}

.footer-nav .footer-out p > a {
  color: #999;
}
