* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}


/* 主题色 */

$main-color:rgb(17, 109, 44);

/* header start */

header {
    // padding: 6px 0;
    background: #eee;
    >.wrapper {
        height: 100%;
        position: relative;
        &::after {
            content: '';
            height: 0;
            display: block;
            visibility: hidden;
            overflow: hidden;
            clear: both;
        }
        >ul {
            float: left;
            position: absolute;
            top: 23%;
            &::after {
                content: '';
                height: 0;
                display: block;
                visibility: hidden;
                overflow: hidden;
                clear: both;
            }
            >li {
                cursor: pointer;
                float: left;
                font-size: 12px;
                font-weight: 900;
                margin-right: 12px;
                &:nth-of-type(2) {
                    color: rgb(37, 165, 76);
                    >span {
                        background: url(../img/header-img.png) no-repeat 34px 12px;
                        padding: 6px 16px 6px 6px;
                        &:hover {
                            color: #fff;
                            background: rgb(37, 165, 76);
                        }
                    }
                }
                &:nth-of-type(3) {
                    padding-left: 16px;
                    background: url(../img/notice.png) no-repeat 0 2px;
                    background-size: 14px;
                    &:hover {
                        color: rgb(37, 165, 76);
                    }
                }
            }
        }
        >div {
            float: right;
            font-size: 12px;
            font-weight: 900;
            height: 100%;
            >ul {
                float: left;
                >li {
                    padding: 6px 20px;
                    cursor: pointer;
                    float: left;
                    >i {
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                    }
                }
            }
            >ul:nth-of-type(1) {
                position: absolute;
                top: 23%;
                left: 44%;
                >li {
                    padding: 0;
                    margin: 0 8px;
                    >a {
                        color: #000;
                        &:hover {
                            color: rgb(37, 165, 76);
                        }
                    }
                }
            }
            >ul:nth-of-type(2) {
                >li {
                    // padding-bottom: 6px;
                    &:hover {
                        background: #fff;
                        >i:nth-of-type(2) {
                            background: url(../img/header-img.png) no-repeat -8px 12px;
                        }
                    }
                    >i {
                        position: absolute;
                        top: 0px;
                    }
                }
                >li:nth-of-type(1) {
                    position: relative;
                    >i:nth-of-type(1) {
                        background: url(../img/header-img.png) no-repeat -40px top;
                        position: absolute;
                        top: 5px;
                        left: 0;
                    }
                }
                >li:nth-of-type(2) {
                    position: relative;
                    >i:nth-of-type(1) {
                        background: url(../img/header-img.png) no-repeat -62px top;
                        position: absolute;
                        top: 5px;
                        left: 0;
                    }
                }
            }
            >ul:nth-of-type(3) {
                >li {
                    position: relative;
                    margin-left: 6px;
                    padding-right: 6px;
                }
                >li:nth-of-type(1) {
                    >i {
                        background: url(../img/header-img.png) no-repeat -149px 2px;
                        position: absolute;
                        top: 5px;
                        left: 0;
                    }
                }
                >li:nth-of-type(2) {
                    >i {
                        background: url(../img/header-img.png) no-repeat -86px 2px;
                        position: absolute;
                        top: 5px;
                        left: 0;
                    }
                }
                >li:nth-of-type(3) {
                    >i {
                        background: url(../img/a.png) no-repeat top;
                        position: absolute;
                        top: 5px;
                        left: 0;
                    }
                }
                >li:nth-of-type(4) {
                    >i {
                        background: url(../img/b.png) no-repeat top;
                        position: absolute;
                        top: 5px;
                        left: 0;
                    }
                }
            }
        }
    }
}


/* header search start */

.sea {
    background: rgb(184, 182, 182);
    padding: 12px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .sea-nav {
        >div {
            position: relative;
            >input {
                width: 420px;
                height: 28px;
                padding: 0 12px;
                outline: none;
                border: 1px solid $main-color;
                background: rgb(184, 182, 182);
            }
            >span {
                display: inline-block;
                height: 30px;
                line-height: 30px;
                padding-right: 24px;
                padding-left: 24px;
                background: $main-color;
                color: #fff;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
            }
        }
        >ul {
            li {
                float: left;
                cursor: pointer;
                font-size: 12px;
                margin-right: 16px;
                line-height: 24px;
            }
            li:hover {
                color: $main-color;
            }
        }
    }
    .shopCar {
        cursor: pointer;
        height: 42px;
        line-height: 42px;
        padding: 0 46px;
        border: 1px solid $main-color;
        background: #fff;
        color: $main-color;
        font-weight: 900;
        display: flex;
        font-size: 18px;
        position: relative;
        >span:first-of-type {
            // position: absolute;
            align-self: center;
            display: block;
            height: 100%;
            width: 32px;
            font-size: 12px;
            text-align: center;
            background: url(../img/header-img.png) no-repeat -110px 16px;
        }
        .shop-list {
            width: 380px;
            height: 180px;
            border: 1px solid $main-color;
            background: #fff;
            position: absolute;
            bottom: -182px;
            right: -1px;
            text-align: center;
            line-height: 180px;
            font-size: 14px;
            display: none;
        }
        &:hover .shop-list {
            display: inline-block;
            z-index: 99;
        }
    }
}


/* banner start */

.banner {
    position: relative;
    height: 500px;
    >img {
        width: 100%;
        height: 100%;
        vertical-align: top;
        position: absolute;
        top: 0;
    }
    >img:nth-of-type(1) {
        display: none;
    }
    >span {
        position: absolute;
        top: 200px;
        display: none;
        width: 40px;
        height: 100px;
        opacity: 0.5;
        cursor: pointer;
        background: url(../img/slider-btn.png) no-repeat 0px 0px;
        &:hover {
            opacity: 1;
        }
    }
    >span:nth-of-type(2) {
        background: url(../img/slider-btn.png) no-repeat -50px 0px;
        right: 0;
    }
    &:hover span {
        display: inline-block;
    }
    >.wrapper {
        position: relative;
        >span {
            background: $main-color;
            color: #fff;
            font-weight: 900;
            padding: 0 24px;
            width: 120px;
            height: 42px;
            display: inline-block;
            text-align: center;
            line-height: 42px;
        }
        >ul {
            opacity: .8;
            >li {
                width: 120px;
                height: 2.6rem;
                padding: 0 24px;
                line-height: 2.6rem;
                text-align: center;
                font-size: 14px;
                background: #fff;
                display: flex;
            }
            >li:hover {
                color: $main-color;
                height: (2.6*16-2)+px;
                line-height: (2.6*16-2)+px;
                padding-left: 32px;
                padding-right: 16px;
                background: #fff;
                border: 1px solid #888;
                border-right: none;
                i {
                    display: inline-block;
                }
                .shop-title {
                    display: inline-block;
                }
            }
            i {
                display: none;
                margin-left: 12px;
            }
            span {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-right: 12px;
                background: url(../img/nav-icon.png) no-repeat 0px 0px;
                align-self: center;
            }
            li:nth-of-type(2) span {
                background-position: -24px 0px;
            }
            li:nth-of-type(3) span {
                background-position: -48px 0px;
            }
            li:nth-of-type(4) span {
                background-position: -72px 0px;
            }
            li:nth-of-type(5) span {
                background-position: -96px 0px;
            }
            li:nth-of-type(6) span {
                background-position: -120px 0px;
            }
            li:nth-of-type(7) span {
                background-position: -144px 0px;
            }
            li:nth-of-type(8) span {
                background-position: -168px 0px;
            }
            li:nth-of-type(9) span {
                background-position: -192px 0px;
            }
            li:nth-of-type(10) span {
                background-position: -216px 0px;
            }
            li:nth-of-type(11) span {
                background-position: -240px 0px;
            }
        }
    }
    .shop-title {
        height: 498px;
        width: 240px;
        background: #fff;
        border: 1px solid #888;
        position: absolute;
        top: 0;
        left: 168px;
        z-index: -99;
        color: #000;
        display: none;
        >h2 {
            cursor: pointer;
            color: $main-color;
        }
        >ul {
            display: flex;
            flex-direction: column;
        }
        li {
            margin: 0 12px;
        }
        li:hover {
            cursor: pointer;
            color: $main-color;
        }
        >img {
            position: absolute;
            bottom: 0;
            right: -62px;
        }
    }
}


/* main start */

main {
    background: rgb(240, 238, 238);
    padding: 46px 0;
    .main-F {
        margin-bottom: 24px;
    }
    .main-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        >div>span:first-of-type {
            display: inline-block;
            height: 32px;
            width: 46px;
            font-weight: 900;
            text-align: center;
            line-height: 32px;
            color: #fff;
            cursor: pointer;
            margin-right: 8px;
            background: url(../img/floor_tit_icon.png) no-repeat 0 0;
        }
        >div>span:nth-of-type(2) {
            font-weight: 900;
            color: rgb(248, 109, 16);
            cursor: pointer;
            vertical-align: bottom;
        }
        >ul {
            >li {
                float: left;
                padding: 0 12px;
                font-size: 12px;
                border-right: 1px solid #888;
            }
            >li:hover {
                text-decoration: underline;
            }
            >li:nth-of-type(3) {
                border: none;
            }
        }
    }
    .main-text {
        &::after {
            content: '';
            height: 0;
            display: block;
            visibility: hidden;
            clear: both;
        }
        >img {
            float: left;
        }
        .main-shop {
            float: right;
            img {
                border: 1px solid #888;
                float: left;
            }
            div:nth-of-type(1)>img {
                border-bottom: none;
            }
            img:nth-of-type(1),
            img:nth-of-type(2) {
                border-right: none;
            }
        }
    }
}

.main-F2>.main-header span:nth-of-type(1) {
    background: url(../img/floor_tit_icon.png) no-repeat -46px 0;
}

.main-F3>.main-header span:nth-of-type(1) {
    background: url(../img/floor_tit_icon.png) no-repeat -92px 0;
}


/* footer start*/

.footer-header {
    background: rgb(189, 187, 187);
    padding: 18px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .footer-list {
        display: flex;
    }
    .footer-list>div:first-of-type {
        float: left;
        width: 42px;
        height: 42px;
        margin-right: 12px;
        background: url(../img/footer_service_icon.png) no-repeat 0 0;
    }
    .footer-list>div:nth-of-type(2) {
        padding-left: 12px;
        border-left: 1px solid #888;
        >h3 {
            color: $main-color;
        }
        >p {
            font-size: 12px;
        }
    }
    .footer-list:nth-of-type(2)>div:first-of-type {
        background: url(../img/footer_service_icon.png) no-repeat 0 -42px;
    }
    .footer-list:nth-of-type(3)>div:first-of-type {
        background: url(../img/footer_service_icon.png) no-repeat 0 -84px;
    }
    .footer-list:nth-of-type(4)>div:first-of-type {
        background: url(../img/footer_service_icon.png) no-repeat 0 -126px;
    }
}

.footer-nav {
    background: rgb(238, 236, 236);
    padding: 58px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .footer-nav-list {
        position: relative;
        >span {
            padding-left: 36px;
            background: url(../img/footer_icon.png) no-repeat 0 0;
        }
        ul {
            // position: absolute;
            // top: 28px;
            // left: 12px;
            font-size: 12px;
            margin-top: 12px;
            padding-left: 28px;
            border-left: 1px dotted #888;
            li {
                line-height: 24px;
                cursor: pointer;
            }
            li:hover {
                color: $main-color;
                text-decoration: underline;
            }
        }
    }
    .footer-nav-list:nth-of-type(2)>span {
        background-position-y: -24px;
    }
    .footer-nav-list:nth-of-type(3)>span {
        background-position-y: -48px;
    }
    .footer-nav-list:nth-of-type(4)>span {
        background-position-y: -70px;
    }
    .footer-nav-list:nth-of-type(5)>span {
        background-position-y: -96px;
    }
    .footer-out {
        text-align: center;
        p {
            color: #999;
            font-size: 12px;
            line-height: 32px;
        }
        p:nth-of-type(1) {
            color: $main-color;
            padding: 42px 0;
            font-size: 16px;
        }
        p>span:hover {
            cursor: pointer;
            color: $main-color;
        }
        p>img {
            margin-right: 12px;
            cursor: pointer;
        }
        p>a {
            color: #999;
        }
    }
}