@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* 主题色 */
/* header start */
.header {
  background: #b8b6b6;
  padding: 12px 0;
}

.header .wrapper {
  display: flex;
}

.header .wrapper > p {
  font-size: 32px;
  color: #116d2c;
  margin-left: 68px;
  vertical-align: middle;
}

.enroll > fieldset {
  width: 520px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #666;
  text-align: center;
}

.enroll > fieldset > legend {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ccc;
  text-shadow: 1px 1px 3px #666;
  text-align: center;
  line-height: 30px;
  font-weight: 900;
}

.enroll > fieldset > p {
  margin: 32px auto;
}

.enroll > fieldset > p > input {
  width: 360px;
  margin-left: 12px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px #333;
  outline: none;
  padding: 12px;
}

.enroll > fieldset > p:nth-of-type(4) > input,
.enroll > fieldset > p:nth-of-type(5) > input {
  width: 200px;
}

.enroll > fieldset > p:nth-of-type(4) > span {
  margin-left: 6px;
}

.enroll > fieldset > p:nth-of-type(4) > span > img {
  width: 100px;
  height: 48px;
}

.enroll > fieldset > p:nth-of-type(4) > span:nth-of-type(2) {
  display: inline-block;
  cursor: pointer;
}

.enroll > fieldset > p:nth-of-type(5) > span {
  width: 132px;
  border: 1px solid #666;
  display: inline-block;
  line-height: 46px;
  border-radius: 3px;
  cursor: pointer;
}

.enroll > fieldset > p:nth-of-type(5) > span:hover {
  border-color: red;
  color: #f00;
}

.enroll > fieldset > p > label {
  font-weight: 900;
  text-align: left;
}

.enroll > fieldset > input {
  margin: 30px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #333;
  outline: none;
}

.enroll > fieldset > input:nth-of-type(1) {
  padding: 10px 160px;
  margin: 0;
}

.enroll > fieldset > a {
  color: #f31c1c;
  font-size: 16px;
  padding: 12px;
  margin: 12px;
  display: inline-block;
  text-decoration: none;
}

/* footer start*/
.footer-nav {
  background: #eeecec;
  padding: 58px 0;
  margin-top: 120px;
}

.footer-nav .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-nav .footer-nav-list {
  position: relative;
}

.footer-nav .footer-nav-list > span {
  padding-left: 36px;
  background: url(../img/footer_icon.png) no-repeat 0 0;
}

.footer-nav .footer-nav-list ul {
  font-size: 12px;
  margin-top: 12px;
  padding-left: 28px;
  border-left: 1px dotted #888;
}

.footer-nav .footer-nav-list ul li {
  line-height: 24px;
  cursor: pointer;
}

.footer-nav .footer-nav-list ul li:hover {
  color: #116d2c;
  text-decoration: underline;
}

.footer-nav .footer-nav-list:nth-of-type(2) > span {
  background-position-y: -24px;
}

.footer-nav .footer-nav-list:nth-of-type(3) > span {
  background-position-y: -48px;
}

.footer-nav .footer-nav-list:nth-of-type(4) > span {
  background-position-y: -70px;
}

.footer-nav .footer-nav-list:nth-of-type(5) > span {
  background-position-y: -96px;
}

.footer-nav .footer-out {
  text-align: center;
}

.footer-nav .footer-out p {
  color: #999;
  font-size: 12px;
  line-height: 32px;
}

.footer-nav .footer-out p:nth-of-type(1) {
  color: #116d2c;
  padding: 42px 0;
  font-size: 16px;
}

.footer-nav .footer-out p > span:hover {
  cursor: pointer;
  color: #116d2c;
}

.footer-nav .footer-out p > img {
  margin-right: 12px;
  cursor: pointer;
}

.footer-nav .footer-out p > a {
  color: #999;
}
