@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* 主题色 */
/* header start */
header {
  background: #eee;
}

header > .wrapper {
  height: 100%;
  position: relative;
}

header > .wrapper::after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

header > .wrapper > ul {
  float: left;
  position: absolute;
  top: 23%;
}

header > .wrapper > ul::after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

header > .wrapper > ul > li {
  cursor: pointer;
  float: left;
  font-size: 12px;
  font-weight: 900;
  margin-right: 12px;
}

header > .wrapper > ul > li:nth-of-type(2) {
  color: #25a54c;
}

header > .wrapper > ul > li:nth-of-type(2) > span {
  background: url(../img/header-img.png) no-repeat 34px 12px;
  padding: 6px 16px 6px 6px;
}

header > .wrapper > ul > li:nth-of-type(2) > span:hover {
  color: #fff;
  background: #25a54c;
}

header > .wrapper > ul > li:nth-of-type(3) {
  padding-left: 16px;
  background: url(../img/notice.png) no-repeat 0 2px;
  background-size: 14px;
}

header > .wrapper > ul > li:nth-of-type(3):hover {
  color: #25a54c;
}

header > .wrapper > div {
  float: right;
  font-size: 12px;
  font-weight: 900;
  height: 100%;
}

header > .wrapper > div > ul {
  float: left;
}

header > .wrapper > div > ul > li {
  padding: 6px 20px;
  cursor: pointer;
  float: left;
}

header > .wrapper > div > ul > li > i {
  width: 18px;
  height: 18px;
  display: inline-block;
}

header > .wrapper > div > ul:nth-of-type(1) > li {
  padding: 0px;
  margin: 0 8px;
  line-height: 28px;
}

header > .wrapper > div > ul:nth-of-type(1) > li > a {
  color: #000;
}

header > .wrapper > div > ul:nth-of-type(1) > li > a:hover {
  color: #25a54c;
}

header > .wrapper > div > ul:nth-of-type(2) {
  position: relative;
}

header > .wrapper > div > ul:nth-of-type(2) > li:hover {
  z-index: 99;
  padding: 6px 19px;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  background: #fff;
}

header > .wrapper > div > ul:nth-of-type(2) > li:hover > i:nth-of-type(2) {
  background: url(../img/header-img.png) no-repeat -8px 12px;
}

header > .wrapper > div > ul:nth-of-type(2) > li > i {
  position: absolute;
  top: 0px;
}

header > .wrapper > div > ul:nth-of-type(2) > li .me {
  display: none;
  z-index: 1;
  width: 100%;
  line-height: 24px;
  padding-left: 12px;
  position: absolute;
  top: 28px;
  left: -1px;
  background: #fff;
  border: 1px solid #888;
  color: #636161;
  font-weight: 100;
}

header > .wrapper > div > ul:nth-of-type(2) > li .me > li:hover {
  font-weight: 900;
  color: #116d2c;
}

header > .wrapper > div > ul:nth-of-type(2) > li:hover {
  z-index: 999;
}

header > .wrapper > div > ul:nth-of-type(2) > li:hover .me {
  z-index: -999;
  display: inline-block;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(1) {
  position: relative;
  z-index: 99;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(1) > i:nth-of-type(1) {
  background: url(../img/header-img.png) no-repeat -40px top;
  position: absolute;
  top: 5px;
  left: 0;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(2) {
  position: relative;
  z-index: 999;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(2) > i:nth-of-type(1) {
  background: url(../img/header-img.png) no-repeat -62px top;
  position: absolute;
  top: 5px;
  left: 0;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(2) .me {
  width: 126px;
  padding: 12px;
}

header > .wrapper > div > ul:nth-of-type(2) > li:nth-of-type(2) .me img {
  width: 126px;
}

header > .wrapper > div > ul:nth-of-type(3) > li {
  position: relative;
  margin-left: 6px;
  padding-right: 6px;
}

header > .wrapper > div > ul:nth-of-type(3) > li:nth-of-type(1) > i {
  background: url(../img/header-img.png) no-repeat -149px 2px;
  position: absolute;
  top: 5px;
  left: 0;
}

header > .wrapper > div > ul:nth-of-type(3) > li:nth-of-type(2) > i {
  background: url(../img/header-img.png) no-repeat -86px 2px;
  position: absolute;
  top: 5px;
  left: 0;
}

header > .wrapper > div > ul:nth-of-type(3) > li:nth-of-type(3) > i {
  background: url(../img/a.png) no-repeat top;
  position: absolute;
  top: 5px;
  left: 0;
}

header > .wrapper > div > ul:nth-of-type(3) > li:nth-of-type(4) > i {
  background: url(../img/b.png) no-repeat top;
  position: absolute;
  top: 5px;
  left: 0;
}
